<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/scripts/vue.js"></script>
    <script src="/bootstrap-native.js"></script>
    <script src="/main.js"></script>
</head>
<body>

<div class="container-lg">
    <div class="row">
        <div class="navbar navbar-expand-lg navbar-dark bg-dark col">
            <a href="#" class="navbar-brand">TodoApp</a>
        </div>
    </div>
    <div class="row">
        <div class="form-inline mb-2 mr-sm-2 mt-1">
            <div class="input-group">
                <input type="text" class="form-control autoSizingInput" id="addTask" placeholder="task">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="submitTask">Add task</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="tableContent">
    </div>
</div>
</body>
</html>